<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="learn.datasource.mapper.gk.UserQuestionMapper">

    <sql id="field">
        id,user_id, question_id, stats, answer_count, sum_cost_time,
        is_favorite, correct_count, last_result, last_cost_time, consequence,
        created_at, updated_at, status
    </sql>

    <select id="findByDataCenterIdAndQuestionIdIn"
            resultType="learn.datasource.entity.gk.UserQuestion">
        select <include refid="field"/> from ${tableName}
        where user_id = #{dataCenterId}
        and question_id in
        <foreach collection="questionIds" item="questionId" separator="," open="(" close=")">
            #{questionId}
        </foreach>
        and status = 1
    </select>
</mapper>


